<table class="table table-bordered">
        <div class="col-xs-9">
            <div>
                <h2 class="items-list">商品一覧</h2><span class="items-count">(全<%= @products.count %>件)</span>
            </div>
            <div>
                <% @products.each do |product| %>
                    <section>
                        <%= attachment_image_tag product, :image, :fill, 230,154, fallback: 'sample.png', size:'60x60' %>
                        <h3><%= product.name %></h3>
                        <p><%= product.price*1.08 %>円</p>
                    </section>
                <% end %>
            </div>